$color-header-primary: #b41e26;
$color-sidebar-primary: #000;
$color-sidebar-text: #b8c7ce;
$color-header-text: #eee;
$color-main-text: #636b6f;
$color-primary-white: #fff;
$color-primary: #f1f3f6;
$color-primary-blue: rgba(8, 8, 75, 0.822);
$color-primary-gold: darkgoldenrod;
$color-secondary-gold: rgb(138, 101, 8);

//FONT
$default-font-size: 1.6rem;
$default-font-family: Roboto, Arial, sans-serif;
